*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
 }
 main{
    background-color: rgb(229, 252, 200);
    width: 1000px;
    height: 650px;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
 }
 header{
    width: 100%;
    height: 95px;
    background-color: rgb(165, 218, 117);
    padding: 20px;
     display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
 }
 h2{
   width: 1000%;
   height: 50px;
   text-align: center;
   padding: 13px;
   color:black;
}
 #menu1 a{ text-decoration: none;
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
    padding: 10px;
    margin: 0  -2px;
    flex-grow: 1;
    flex-shrink: 1;
 }
 #menu1{
    width: 50%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
 }
 #menu1 a:hover{
    background-color: white;
    color: black;
 }
 #logo{
    color: white;
    font-size: 40px;
 }
 #logo a{
    text-decoration: none;
    color: white;
 }
 #principal{
   background-color: white;
   padding: 20px;
   flex-wrap: 1;
   flex-shrink: 1;
   width: 450px;
}
.contenido{
   margin-bottom: 20px;
   padding-bottom: 20px;
   border-bottom: 2px solid black;
   text-align: justify;
}
 aside{
   background-color: burlywood;
   padding: 20px;
   flex-wrap: 1;
   flex-shrink: 1;
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   justify-content: center;
   height: 435px;
   width: 550px;
}
 footer{
    background-color: rgb(165, 218, 117);
    width: 100%;
    height: 70px;
    padding: 20px;
   }